# Amadeus Challenge

In [1]:
import pandas as pd
import numpy as np

Extraer Ficheros

In [3]:
!bunzip2 bookings.csv.bz2

bunzip2: I/O or other error, bailing out.  Possible reason follows.
bunzip2: No such file or directory
	Input file = bookings.csv.bz2, output file = bookings.csv

In [3]:
!bunzip2 searches.csv.bz2

## Ejercicio 1

Count the number of lines Bookings (Python + Command Line)

In [6]:
!wc -l '/home/isabel/Repos/Amadeus_Challenge/bookings.csv'

10000011 /home/isabel/Repos/Amadeus_Challenge/bookings.csv

In [5]:
!sort -u -t "^" '/home/isabel/Repos/Amadeus_Challenge/bookings.csv' | wc -l

1000004

In [2]:
count = len(open("bookings.csv").readlines())
count

10000011

Count the number of lines Searches (Python + Command Line)

In [7]:
!sort -u -t "^" searches.csv | wc -l

359005

In [8]:
!wc -l searches.csv

20390198 searches.csv

In [17]:
count = len(open("searches.csv").readlines())
count

20390199

In [34]:
df_searches = pd.read_csv("searches.csv", sep = "^")
searches_count = len(searches_read).drop_duplicates().readlines()
    
print(searches_count)

/home/isabel/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (40,41,42,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

KeyboardInterrupt:

## Ejercicio 2

Top 10 arrival airports in the world in 2013 (using the bookings file): sum the total number of passengers and print the top 10 arrival airports in the standard output, including the number of passengers.

Bonus point: Get the name of the city or airport corresponding to that airport (GeoBases in GitHub)
Bonus point: Solve this problem using Pandas (instead of any other approach)

In [15]:
df = pd.read_csv('bookings.csv', sep = "^")
df

/home/isabel/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7,8,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1.0,2013.0,3.0,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1.0,2013.0,3.0,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1.0,2013.0,3.0,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1.0,2013.0,3.0,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1.0,2013.0,3.0,SYDA82546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10000005,2013-05-18 00:00:00,1A,LK,1a5585bef21f0bf8dc865a87843635f9,6ff8fd087f94799d7aed903683384775,3b339797f7eca14c24e8b7565da822c0,2013-05-14 00:00:00,13203,0,CMB,...,MAACMB,FV,V,Y,2013-05-24 16:05:00,2013-05-24 17:38:39,-1.0,2013.0,5.0,NULL
10000006,2013-05-18 00:00:00,1A,LK,1a5585bef21f0bf8dc865a87843635f9,6ff8fd087f94799d7aed903683384775,3b339797f7eca14c24e8b7565da822c0,2013-05-14 00:00:00,6003,0,CMB,...,MAACMB,FV,V,Y,2013-05-19 16:05:00,2013-05-19 17:38:39,1.0,2013.0,5.0,NULL
10000007,2013-05-28 00:00:00,1A,US,07e98d2fd3cd4b737266b99727f7faa8,e8741eaf2fa2f71f931475d18fa72096,2b22597bdad931843c3b1d5219836e07,2013-05-28 00:00:00,328,1865,AUS,...,AUSDFWRDU,KK,Q,Y,2013-07-12 08:35:00,2013-07-12 15:03:14,1.0,2013.0,5.0,SEAEX38AA
10000008,2013-05-28 00:00:00,1A,FR,e2679367673d50f1ee085127d8a00eba,5f26f53ca29672815e0ee3bd93a2b0e4,4eb40315a7263131ae17712cd505b62a,2013-05-28 00:00:00,588,0,TLS,...,TLSORY,KP,S,Y,2013-06-04 10:50:00,2013-06-04 12:18:20,1.0,2013.0,5.0,LYSSR210Z
10000009,2013-05-28 00:00:00,1A,FR,e2679367673d50f1ee085127d8a00eba,5f26f53ca29672815e0ee3bd93a2b0e4,4eb40315a7263131ae17712cd505b62a,2013-05-28 00:00:00,588,0,TLS,...,ORYTLS,KP,S,Y,2013-06-04 19:10:00,2013-06-04 20:38:20,1.0,2013.0,5.0,LYSSR210Z

In [18]:
!head -1 bookings.csv | tr "^" "\t"

act_date           	source	pos_ctry	pos_iata	pos_oid  	rloc          	cre_date           	duration	distance	dep_port	dep_city	dep_ctry	arr_port	arr_city	arr_ctry	lst_port	lst_city	lst_ctry	brd_port	brd_city	brd_ctry	off_port	off_city	off_ctry	mkt_port	mkt_city	mkt_ctry	intl	route          	carrier	bkg_class	cab_class	brd_time           	off_time           	pax	year	month	oid

In [19]:
!csvcut -d "^" -c arr_port, pax bookings.csv | csvstat

usage: csvcut [-h] [-d DELIMITER] [-t] [-q QUOTECHAR] [-u {0,1,2,3}] [-b]
              [-p ESCAPECHAR] [-z FIELD_SIZE_LIMIT] [-e ENCODING] [-S] [-H]
              [-K SKIP_LINES] [-v] [-l] [--zero] [-V] [-n] [-c COLUMNS]
              [-C NOT_COLUMNS] [-x]
              [FILE]
csvcut: error: unrecognized arguments: bookings.csv

In [51]:
df1 = pd.DataFrame(df.groupby("arr_port")["pax"].sum().sort_values(ascending = False).head(10))

df1.reset_index(inplace=True)
df1["arr_port"] = df1["arr_port"].str.strip()
df1.set_index("arr_port", inplace = True)

df1

              pax
arr_port
LHR       88809.0
MCO       70930.0
LAX       70530.0
LAS       69630.0
JFK       66270.0
CDG       64490.0
BKK       59460.0
MIA       58150.0
SFO       58000.0
DXB       55590.0

## Ejercicio 3

Plot the monthly number of searches for flights arriving at Málaga, Madrid or Barcelona. For the arriving airport, you can use the Destination column in the searches file. Plot a curve for Málaga, another one for Madrid, and another one for Barcelona, in the same figure.

Bonus point: Solving this problem using pandas (instead of any other approach)

With the Command line

In [19]:
!wc -l searches.csv

20390198 searches.csv

In [5]:
!head -1 searches.csv | tr "^" "\t"

Date	Time	TxnCode	OfficeID	Country	Origin	Destination	RoundTrip	NbSegments	Seg1Departure	Seg1Arrival	Seg1Date	Seg1Carrier	Seg1BookingCode	Seg2Departure	Seg2Arrival	Seg2Date	Seg2Carrier	Seg2BookingCode	Seg3Departure	Seg3Arrival	Seg3Date	Seg3Carrier	Seg3BookingCode	Seg4Departure	Seg4Arrival	Seg4Date	Seg4Carrier	Seg4BookingCode	Seg5Departure	Seg5Arrival	Seg5Date	Seg5Carrier	Seg5BookingCode	Seg6Departure	Seg6Arrival	Seg6Date	Seg6Carrier	Seg6BookingCode	From	IsPublishedForNeg	IsFromInternet	IsFromVista	TerminalID	InternetOffice

In [11]:
!csvlook -d "^" searches.csv | head

^C

In [12]:
!csvcut -d "^" -c Date, Destination searches.csv | csvstat

usage: csvcut [-h] [-d DELIMITER] [-t] [-q QUOTECHAR] [-u {0,1,2,3}] [-b]
              [-p ESCAPECHAR] [-z FIELD_SIZE_LIMIT] [-e ENCODING] [-S] [-H]
              [-K SKIP_LINES] [-v] [-l] [--zero] [-V] [-n] [-c COLUMNS]
              [-C NOT_COLUMNS] [-x]
              [FILE]
csvcut: error: unrecognized arguments: searches.csv

In [13]:
!csvgrep -d "^" -c Destination -m MAL searches.csv Date, Destination

usage: csvgrep [-h] [-d DELIMITER] [-t] [-q QUOTECHAR] [-u {0,1,2,3}] [-b]
               [-p ESCAPECHAR] [-z FIELD_SIZE_LIMIT] [-e ENCODING] [-S] [-H]
               [-K SKIP_LINES] [-v] [-l] [--zero] [-V] [-n] [-c COLUMNS]
               [-m PATTERN] [-r REGEX] [-f MATCHFILE] [-i]
               [FILE]
csvgrep: error: unrecognized arguments: Date, Destination

With Pandas

In [32]:
# 1) read the csv file in chunks selecting relevant columns
df_reader = pd.read_csv("searches.csv", sep = "^", iterator = True, chunksize = 10000, usecols = ["Date", "Destination"], parse_dates = ["Date"])
df_searches = df_reader.get_chunk()
df_searches.head()

        Date Destination
0 2013-01-01         AUH
1 2013-01-01         MIL
2 2013-01-01         SFO
3 2013-01-01         ARN
4 2013-01-01         MAD

In [33]:
# 2) filter Destination column: MAD, BCN, AGP
# 2.1) Strip
df_searches["Destination"] = df_searches["Destination"].str.strip()

# 2.2) Query
filter = (df_searches["Destination"] == "MAD") | (df_searches["Destination"] == "BCN") | (df_searches["Destination"] == "AGP")

# 2.3) Filter
df_filter = df_searches[filter]
df_filter

           Date Destination
4    2013-01-01         MAD
93   2013-01-01         AGP
113  2013-01-01         BCN
147  2013-01-01         AGP
151  2013-01-01         MAD
...         ...         ...
9830 2013-01-10         AGP
9881 2013-01-10         BCN
9906 2013-01-10         MAD
9947 2013-01-10         MAD
9950 2013-01-10         MAD

[335 rows x 2 columns]

In [35]:
# 3) Convert dates to datetime
df_filter["Date"] = pd.to_datetime(df_filter["Date"])

/home/isabel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
import matplotlib.pyplot as plt

## Ejercicio 4

Match searches with bookings

For every search in the searches file, find out whether the search ended up in a booking or not (using the info in the bookings file). For instance, search and booking origin and destination should match. 
For the bookings file, origin and destination are the columns dep_port and arr_port, respectively. 
Generate a CSV file with the search data, and an additional field, containing 1 if the search ended up in a booking, and 0 otherwise.

In [9]:
df3 = pd.read_csv("searches.csv", sep = "^", usecols = ["Origin", "Destination"],low_memory = False)

In [11]:
df4 = pd.read_csv("bookings.csv", sep = "^", usecols = ["dep_port", "arr_port"])

In [12]:
df4.columns = ["Origin", "Destination"]

In [23]:
df3.merge(df4, on = ["Origin", "Destination"], how = "inner")

Empty DataFrame
Columns: [Origin, Destination]
Index: []

In [ ]:
for search in df3:
    if df4[["Origin", "Destination"]] == df3[["Origin", "Destination"]]:
       df3["Search&Booking"] = 1 else 0